In [1]:
import cleandata

In [2]:
data='~/courses/metis/data/proj1/turnstile_210605.txt'

In [3]:
errcnt,df=cleandata.proj1_clean(data)

less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points36
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points44
less than  42 data points45
less than  42 data points45
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points45
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points60
less than  42 data points60
less than  42 data points60
less than  42 data points60
less than  42 data points40
less than  42 data points40
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points40
less than  42 data points39
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points34
less than  42 data points34
less than  42 data points34
less than  42 data points34
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points38
less than  42 data points57
less than  42 data points57
less than  42 data points57
less than  42 data points57
less than  42 data points57
less than  42 data points57
less than  42 data points57
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points39
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points36
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points36
less than  42 data points40
less than  42 data points40
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points34
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points24
less than  42 data points48
less than  42 data points48
less than  42 data points48
less than  42 data points48
less than  42 data points48
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points40
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points25
less than  42 data points46
less than  42 data points46
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points44
less than  42 data points44
less than  42 data points44
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points39
less than  42 data points40
less than  42 data points40
less than  42 data points39
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42

less than  42 data points40
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points3
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points25
less than  42 data points38
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points34
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points32
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points33
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points45
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points33
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points33
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points40

less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points39
less than  42 data points39
less than  42 data points13
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points38
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points39
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points29
less than  42 data points40
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points39
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points49
less than  42 data points49
less than  42 data points49
less than  42 data points39
less than  42 data points39
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points39
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points4
less than  42 data points46
less than  42 data points46
less than  42 data points46
less than  42 data points18
less than  42 data points40
less than  42 data points43
less than  42 data points43
less than  42 data points43
less than  42 data points34
less than  42 data points40
less than  42 data points40
less than  42 data points40
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points42
less than  42 data points40
less than  42 data points40

In [4]:
errcnt

850

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209531 entries, 0 to 209530
Data columns (total 13 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   209531 non-null  object
 1   UNIT                                                                  209531 non-null  object
 2   SCP                                                                   209531 non-null  object
 3   STATION                                                               209531 non-null  object
 4   LINENAME                                                              209531 non-null  object
 5   DIVISION                                                              209531 non-null  object
 6   DATE                                                                  209531 non-null  object
 7   TIME                                                                  209531 non-null  object
 8   DESC                                                                  209531 non-null  object
 9   ENTRIES                                                               209531 non-null  int64
 10  EXITS                                                                 209531 non-null  int64
 11  Ingress                                                               209531 non-null  int64
 12  Egress                                                                209531 non-null  int64
dtypes: int64(4), object(9)
memory usage: 20.8+ MB

In [6]:
df[df['Ingress']==0]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Ingress,Egress
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/29/2021,00:00:00,REGULAR,7578734,2590325,0,0
31,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2021,04:00:00,REGULAR,7580823,2591203,0,0
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2021,04:00:00,REGULAR,7581393,2591453,0,1
42,A002,R051,02-00-01,59 ST,NQR456W,BMT,05/29/2021,00:00:00,REGULAR,6711284,1528325,0,0
61,A002,R051,02-00-01,59 ST,NQR456W,BMT,06/01/2021,04:00:00,REGULAR,6711897,1528573,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209526,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/04/2021,05:00:00,REGULAR,5554,577,0,0
209527,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/04/2021,09:00:00,REGULAR,5554,577,0,0
209528,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/04/2021,13:00:00,REGULAR,5554,577,0,0
209529,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/04/2021,17:00:00,REGULAR,5554,577,0,0
209530,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/04/2021,21:00:00,REGULAR,5554,577,0,0

In [8]:
len(df)/42

4988.833333333333

In [11]:
df[(df['UNIT']=='R398') & (df['SCP'] == '01-06-01')]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Ingress,Egress
26851,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,01:00:00,REGULAR,2764581,2776019,0,0
26852,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,05:00:00,RECOVR AUD,2764583,2776020,2,1
26853,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,09:00:00,REGULAR,2764622,2776028,39,8
26854,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,13:00:00,REGULAR,2764675,2776032,53,4
26855,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:48:47,REGULAR,2764710,2776046,35,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26907,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,06/04/2021,05:00:00,REGULAR,2765937,2776502,2,2
26908,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,06/04/2021,09:00:00,REGULAR,2766025,2776534,88,32
26909,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,06/04/2021,13:00:00,REGULAR,2766089,2776547,64,13
26910,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,06/04/2021,17:00:00,REGULAR,2766158,2776558,69,11
26911,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,06/04/2021,21:00:00,REGULAR,2766198,2776580,40,22

In [12]:
df.iloc[26856:26867]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Ingress,Egress
26856,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:50:07,REGULAR,2764711,2776046,1,0
26857,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:51:12,REGULAR,2764711,2776046,0,0
26858,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:52:33,REGULAR,2764711,2776046,0,0
26859,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:53:53,REGULAR,2764711,2776046,0,0
26860,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:55:13,REGULAR,2764711,2776046,0,0
26861,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:56:33,REGULAR,2764711,2776047,0,1
26862,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:57:53,REGULAR,2764712,2776047,1,0
26863,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,16:59:27,REGULAR,2764712,2776047,0,0
26864,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,17:00:00,REGULAR,2764712,2776048,0,1
26865,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,17:00:48,REGULAR,2764712,2776048,0,0
26866,D006,R398,01-06-01,NEW UTRECHT AV,ND,BMT,05/29/2021,17:02:08,REGULAR,2764712,2776048,0,0